.splash{
    background-image: url(imgs/large/syltedeloeg.jpg);
    width: 100vw;
    height: 40vw;
    background-repeat:no-repeat;
    background-size: cover;

}

h1{
    padding-left: 2vw;
}



.data_navn{
    font-family: fantasy;
    color: cadetblue;
    font-size: 2em;
}

.rabatpris{
    color: forestgreen;
}

.udsolgttekst{
    color: firebrick
}


img{
    width: 20vw;

}







